<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <link
        href="https://fonts.googleapis.com/css?family=Jura:400,700|Questrial|Inconsolata:400,700|Montserrat:900|Old+Standard+TT:700"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="public\styles\ticket.css">

</head>

<body>
    <% flights.forEach(function(element) { %>
    <div class="main-content">
        <div class="ticket">
            <div class="ticket__main">
                <div class="header">European Airlines | <%=element.flight_details.carrier_code%></div>
                <div class="info passenger">
                    <div class="info__item">Passenger</div>
                        <% if ( element.ticket_details.name_details[0].length === 1) { %>
                        <div class="info__detail"><%=element.ticket_details.name_details%></div>
                        <%} else { %>
                        <div class="info__detail"><%=element.ticket_details.name_details[0]%></div>
                        <% } %>
                </div>
                
                <div class="info platform"> <span>Depart </span><span>from </span><span>terminal</span>
                    <div class="number">
                        <div>9</div>
                        <div> <span>3</span><span>4</span></div>
                    </div>
                </div>
                <div class="info departure">
                    <div class="info__item">Depart</div>
                    <div class="info__detail"><%=element.flight_details.departure_code%></div>
                </div>
                <div class="info arrival">
                    <div class="info__item">Arrive</div>
                    <div class="info__detail"><%=element.flight_details.arrival_code%></div>
                </div>
                <div class="info date">
                    <div class="info__item">Date</div>
                    <div class="info__detail"><%=element.flight_details.departure_date%></div>
                </div>
                <div class="info time">
                    <div class="info__item">Time</div>
                    <div class="info__detail"><%=element.flight_details.departure_time%></div>
                </div>
                <div class="info carriage">
                    <div class="info__item">Class</div>
                    <div class="info__detail"><%=element.flight_details.airline_class%></div>
                </div>
                <div class="info seat">
                    <div class="info__item">Seat</div>
                    <div class="info__detail">6B</div>
                </div>
                <div class="fineprint">
                    <p>Boarding begins 60 minutes before departure.</p>
                    <p>This ticket is Non-refundable • Wizarding World Travel Authority</p>
                </div>
                
                <div class="barcode">
                    <div class="barcode__scan"></div>
                    <div class="barcode__id">001256733</div>
                </div>
            </div>
            <div class="ticket__side">
                <div class="logo">
                    <p>European Airlines</p>
                </div>
                <div class="info side-arrive">
                    <div class="info__item">Arrive</div>
                    <div class="info__detail"><%=element.flight_details.arrival_code%></div>
                </div>
                <div class="info side-depart">
                    <div class="info__item">Depart</div>
                    <div class="info__detail"><%=element.flight_details.departure_code%></div>
                </div>
                <div class="info side-date">
                    <div class="info__item">Date</div>
                    <div class="info__detail"><%=element.flight_details.departure_date%></div>
                </div>
                <div class="info side-time">
                    <div class="info__item">Time</div>
                    <div class="info__detail"><%=element.flight_details.departure_time%></div>
                </div>
                <div class="barcode">
                    <div class="barcode__scan"></div>
                    <div class="barcode__id">001256733</div>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</body>

</html>